.app-shell {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.contenido-principal {
	flex: 1;
	padding-bottom: 78px;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 36px;
	align-items: center;
	padding: 14px 20px;
	background: #EFEEDF;
	
	z-index: 10;
}

.footer a {
	color: #3c3c3c;
	text-decoration: none;
	font-family: 'Archivo', sans-serif;
	font-weight: 600;
	display: inline-block;
    text-align: center;
}

.footer img {
    max-height: 80px;
}

.footer button {
	background: none;
	border: none;
	color: #3c3c3c;
	font-family: 'Archivo', sans-serif;
    font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	padding: 0;
	display: inline-block;
    text-align: center;
}

.footer a:hover {
	transform: scale(1.08);
	transition: transform 0.2s ease-in-out;
}

.footer button:hover {
	transform: scale(1.08);
	transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
	.contenido-principal {
		padding-bottom: 100px;
	}

	.footer {
		gap: 18px;
		flex-wrap: wrap;
		padding: 10px;
	}
}
