<div class="proyectoDetalleVista">
    <h1> Detalle del Proyecto </h1>
    
    <div *ngIf="cargando">
        Cargando proyecto...
    </div>

    <div *ngIf="!cargando && mensajeError">
        {{ mensajeError }}
    </div>

    <div *ngIf="!cargando && proyecto">
        <div *ngIf="!editandoProyecto; else editarProyectoForm" class="encabezadoProyecto">
            <h2> {{ proyecto.nombre }}</h2>
            <p>Estado: {{ proyecto.estado }}</p>
            <p *ngIf="proyecto.cliente">Cliente: {{ proyecto.cliente }}</p>
            <p *ngIf="!proyecto.cliente">Proyecto interno</p>
            <button (click)="empezarEdicionProyecto()">Editar proyecto</button>
        </div>

        <ng-template #editarProyectoForm>
            <h2>
                <input type="text" [(ngModel)]="nombreProyectoEdit" placeholder="Nombre del proyecto">
            </h2>

            <p>
                Estado:
                <select [(ngModel)]="estadoProyectoEdit">
                    <option value="ACTIVO">Activo</option>
                    <option value="FINALIZADO">Finalizado</option>
                    <option value="BAJA">Baja</option>
                </select>
            </p>

            <button (click)="guardarEdicionProyecto()">Guardar</button>
            <button (click)="cancelarEdicionProyecto()">Cancelar</button>

        </ng-template>

        <div class="crearTareaFila">
            <input 
                type="text"
                [(ngModel)] = "nuevaDescripcion"
                placeholder="Descripcion de la tarea"
            >
            <button type="button" (click)="crearTarea()">
                Agregar tarea
            </button>
        </div>

        <h3> Tareas</h3>
        
        <div *ngIf="proyecto.tareas.length === 0">
            No hay tareas cargadas
        </div>


        <ul *ngIf="proyecto.tareas.length > 0" class="listaTareas">
            <li *ngFor = "let tarea of proyecto.tareas">
                <ng-container *ngIf="tareaEditando && tareaEditando.id === tarea.id; else vistaTarea">
                    <input type="text" [(ngModel)]="descripcionEditando"/>
                    <select [(ngModel)]="estadoEditando">
                        <option value="PENDIENTE">Pendiente</option>
                        <option value="FINALIZADA">Finalizada</option>
                        <option value="BAJA">Baja</option>
                    </select>
                    <button (click)="guardarEdicionTarea()">Guardar</button>
                    <button (click)="cancelarEdicion()">Cancelar</button>
                </ng-container>
                <ng-template #vistaTarea>
                     {{ tarea.descripcion }} - {{ tarea.estado }}
                <button (click)="editarTarea(tarea)">Editar</button>
                </ng-template>
               
            </li>
        </ul>
    </div>
</div>