<div class="contenedor">
    <h1>Proyectos</h1>

    <div *ngIf="cargando">
        Cargando Proyectos...
    </div>

    <div *ngIf="!cargando && mensajeError">
        {{ mensajeError }}
    </div>

    <div *ngIf="!cargando && !mensajeError && proyectos.length === 0">
        No hay proyectos cargados.
    </div>

    <div class="acciones">
        <a class="btn-nuevo" routerLink="/proyectos/nuevo">Nuevo proyecto</a>
        <button class="btn-exportar" (click)="exportarCSV()">Exportar a CSV</button>
        <button class="btn-clientes" (click)="irAClientes()">Gestión de Clientes</button>
        <button class="btn-usuarios" (click)="irAUsuarios()">Gestión de Usuarios</button>
    </div>

    <ul class="lista-proyectos" *ngIf="!cargando && !mensajeError &&proyectos.length > 0">
        <li *ngFor="let proyecto of proyectos"> <div class="fila-principal"><a [routerLink]="['/proyectos' , proyecto.id]">
            <strong> {{ proyecto.nombre }} </strong>
            </a>
            <span class="estado">{{ proyecto.estado }}</span>

            <a class="btn-editar" [routerLink]="['/proyectos', proyecto.id, 'editar']">Editar</a>

            <div class="cliente" *ngIf="proyecto.cliente">
                - Cliente: {{ proyecto.cliente.nombre }}
            </div>

            <div class="cliente" *ngIf="!proyecto.cliente">
                - Proyecto interno
            </div>
            </div>
        </li>
    </ul>
</div>