<div class="proyectosVista">
    <h1>Proyectos</h1>

    <div *ngIf="cargando">
        Cargando Proyectos...
    </div>

    <div *ngIf="!cargando && mensajeError">
        {{ mensajeError }}
    </div>

    <div *ngIf="!cargando && !mensajeError && proyectos.length === 0">
        No hay proyectos cargados.
    </div>

    

    <table class="tabla-proyectos" *ngIf="!cargando && !mensajeError && proyectos.length > 0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Cliente</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proyecto of proyectos">
                <td>
                    <a [routerLink]="['/proyectos', proyecto.id]">
                        <strong>{{ proyecto.nombre }}</strong>
                    </a>
                </td>
                <td>{{ proyecto.estado }}</td>
                <td>
                    <ng-container *ngIf="proyecto.cliente; else interno">
                        {{ proyecto.cliente.nombre }}
                    </ng-container>
                    <ng-template #interno>Proyecto interno</ng-template>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="acciones">
        <a routerLink="/proyectos/nuevo" class="btonNuevoProyecto">
            <img src="nuevoProyecto.svg" alt="Nuevo proyecto" />
        </a>
        <button class="exportarsvg" (click)="exportarCSV()"><img src="export.svg" alt="Exportar a CSV" />Exportar CSV</button>
    </div>   
</div>